@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Stalinist+One&display=swap");
:root {
	--table-size: 3;
}
[data-size="4"] {
	--table-size: 4;
}
[data-size="5"] {
	--table-size: 5;
}
.App {
	color: #f2fedc;
	font-size: 30px;
	font-family: "Rubik Doodle Shadow", system-ui;
	text-shadow: 2px 1px 4px #8e9568;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(
		to right bottom,
		#b1c25e,
		#70b06c,
		#38987a,
		#127e7d,
		#206371,
		#2f4858
	);
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
}
